<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <!-- title logo-->
  <link rel="icon"
    href="https://e7.pngegg.com/pngimages/878/474/png-clipart-optics-computer-icons-glasses-glasses-glass-lens.png"
    type="image/x-icon">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <title> Optics- {% block title %} {% endblock title %} </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard"><i class=" bi-speedometer2"></i> <span
                class="ms-1 d-none  d-sm-inline">Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/add"><i class="bi bi-file-plus"></i> <span
                class="ms-1 d-none d-sm-inline">Add</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/search"><i class="bi bi-search"></i> <span
                class="ms-1 d-none d-sm-inline">Search</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/sales"><i class="bi bi-graph-up"></i> <span
                class="ms-1 d-none d-sm-inline">Visualization</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi-people"></i> <span
                class="ms-1 d-none d-sm-inline">Clients</span> </a>
          </li>
        </ul>

      </div>
      <div class="form-inline navbar-nav my-2 me-auto mb-2 pl-4">
        <a class="nav-link active"><button onclick="window.location='http://localhost:5000/dropsession'"
            type="submit"><i class="bi bi-box-arrow-in-left"></i><span
              class="ms-1 d-none d-sm-inline">Logout</span></button></a>
      </div>

  </nav>

  {% block body %}
  {% endblock body %}

  <div class="pt-20">
    <footer class="text-left w-100 h-7 lg:text-left fixed-bottom position-{{position}} bottom-0">
      <div class=" text-left p-3" style="background-color: rgba(10, 10, 10, 0.24);">
        © 2022 Copyright: Pvt. Limited

      </div>
    </footer>
  </div>
</body>
</html>

<!-- Avoid Redundant Entries -->
<script type="text/javascript">
  function preback() { window.history.forward(); }
  setTimeout("preback()", 0);
  window.onunload = function () { null };
</script>