{% extends 'base.html' %}
{% block fname %} Home{% endblock fname %}
{% block body %}

<div class="container my-3">
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname" aria-describedby="emailHelp" value={{fname}}
                pattern="^[A-Za-z]+$" required>
        </div>
        <div class="mb-3">
            <label for="mname" class="form-label">Middle Name</label>
            <input type="text" class="form-control" name="mname" id="mname" aria-describedby="emailHelp" value={{mname}}
                pattern="^[A-Za-z]+$" required>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname" aria-describedby="emailHelp" value={{lname}}
                pattern="^[A-Za-z]+$" required>
        </div>


        <div class="mb-3">
            <label for="mb" class="form-label">Mb no<Nav></Nav></label>
            <input type="text" class="form-control" name="mb" id="mb" aria-describedby="emailHelp" value={{mb}}
            pattern="^([+]\d{2})?\d{10}$"   required>
        </div>

        <button type="submit" class="btn btn-dark">Update</button>

    </form>
</div>

{% endblock body %}